# general stuff
*~

# emacs stuff
emacs/.emacs.d/ac-comphist.dat
emacs/.emacs.d/auto-save-list/
emacs/.emacs.d/elpa/
emacs/.emacs.d/recentf
emacs/.emacs.d/recentf~
emacs/.emacs.d/smex-items
emacs/.emacs.d/url/
emacs/.emacs.d/projectile-bookmarks.eld
emacs/.emacs.d/eshell/history
emacs/.emacs.d/#*#

# fish stuff
fish/.config/fish/functions/
fish/.config/fish/functions/**

# mpd stuff
mpd/.config/mpd/
!mpd/.config/mpd/mpd.conf
