/emacs/.emacs.d/ac-comphist.dat
/emacs/.emacs.d/auto-save-list/.saves-11179-arch-nb~
/emacs/.emacs.d/auto-save-list/.saves-14705-arch-nb~
/emacs/.emacs.d/auto-save-list/.saves-18726-arch-nb~
/emacs/.emacs.d/auto-save-list/.saves-25720-arch-nb~
/emacs/.emacs.d/auto-save-list/.saves-5928-arch-nb~
/emacs/.emacs.d/auto-save-list/.saves-6281-arch-nb~
/emacs/.emacs.d/config.el
/emacs/.emacs.d/custom.el
/emacs/.emacs.d/custom.el~
/emacs/.emacs.d/elpa/0blayout-readme.txt
/emacs/.emacs.d/elpa/ace-jump-mode-20140616.115/ace-jump-mode-autoloads.el
/emacs/.emacs.d/elpa/ace-jump-mode-20140616.115/ace-jump-mode-pkg.el
/emacs/.emacs.d/elpa/ace-jump-mode-20140616.115/ace-jump-mode.el
/emacs/.emacs.d/elpa/zerodark-theme-20180125.739/zerodark-theme.el
/emacs/.emacs.d/elpa/ace-jump-mode-20140616.115/ace-jump-mode.elc
/emacs/.emacs.d/elpa/ace-window-20171228.1109/ace-window-autoloads.el
/emacs/.emacs.d/elpa/auto-complete-20170124.1845/auto-complete-pkg.el
/emacs/.emacs.d/recentf
/emacs/.emacs.d/recentf~
/emacs/.emacs.d/smex-items
/emacs/.emacs.d/url/cookies
/emacs/.emacs.d/url/cookies~
/emacs/.emacs.d/projectile-bookmarks.eld
/emacs/.emacs.d/eshell/history
/emacs/.emacs.d/auto-save-list/.saves-4714-arch-nb~
/emacs/.emacs.d/elpa/ace-window-20171228.1109/ace-window-pkg.el
/emacs/.emacs.d/elpa/ace-window-20171228.1109/ace-window.el
/emacs/.emacs.d/##uncledave.org##
/emacs/.emacs.d/#config.el#
/emacs/.emacs.d/#uncledave.org#
/emacs/.emacs.d/#zamansky.org#
/emacs/.emacs.d/.#uncledave.org
